/* inter-regular - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('fonts/inter-v11-latin_cyrillic-regular.woff2') format('woff2');
}

/* inter-500 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('fonts/inter-v11-latin_cyrillic-500.woff2') format('woff2');
}

/* inter-600 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('fonts/inter-v11-latin_cyrillic-600.woff2') format('woff2');
}

/* inter-700 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('fonts/inter-v11-latin_cyrillic-700.woff2') format('woff2');
}

/* inter-800 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('fonts/inter-v11-latin_cyrillic-800.woff2') format('woff2');
}

:root {
    --h1: 800 24px / 100% 'Inter';
    --h2: 800 20px / 100% 'Inter';
    --medium: 400 18px / 100% 'Inter';
    --p: 400 16px / 100% 'Inter';
}

h1,
.h1 {
    font: var(--h1);
}

h2,
.h2 {
    font: var(--h2);
}

.medium {
    font: var(--medium);
}

p,
.p {
    font: var(--p);
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

label,
select,
input,
button {
    font: var(--p);
}

button {
    font: var(--h2);
}

h2,
h1,
h3,
p,
li,
ul,
label,
select,
button {
    font-family: 'Inter';
}