h2,
h1,
h3,
p,
li,
ul,
label,
select {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
    cursor: pointer;
}

body{
    margin: 0;
}