.card{
    display: grid;
    grid-template-rows: min-content 1fr repeat(5, min-content);
    row-gap: 10px;
    height: 100%;
    box-sizing: border-box;
}

.main-image{
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 12px;
}

.price{
    display: flex;
    align-items:flex-end;

    & p:nth-child(1){
        display: inline-block;
        margin-right: 10px;
    }
}

.info-plague{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
    height: fit-content;
}
  
